body {
    color: aliceblue;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.container {
    width: 80;
    margin: auto;
}


.pizzas {
    /* display: flex; */
}


.pizza {
    /* border: 1px solid #d11149; */
    margin: 0.5em;
    padding: 0.5em;
    width: 15em;
    /* flex: 1; */
    border-radius: 0.25em;
    display: inline-block;
    /* width: 10em; */
    background-color: dimgray;
    color: yellow;
}

.btn {
    color: #ff9f1c;
    background-color: #e71d36;
    margin-top: 0.5em;
    padding: 0.5em;
    border-radius: 0.5em;
    float: right;
}

.history {
    display: flex;
}

.yourCart {
    margin: auto;
    width: 60%;
}

table {
    border-collapse: collapse;
    width: 60%;
    margin: auto;
    background-color: dimgray;
}

th, td {
    border: 0.5px solid black;
    padding: 0.5em;
}

.message {
    padding: 1em;
    color: red;
    width: 57.7%;
    margin: auto;
    background-color: whitesmoke;
    display: flex
    
}

.cart {
    display: flex;
}

.cart div {
    flex: 1;
}

[x-cloak] { display: none !important; }

img{
    width: 80px;
    height: 80px;
}


.featured-pizzas {
    max-width: 800px; /* Adjust as needed */
    margin: 0 auto; /* Center align the content */
}

.featured-pizza-grid {
    display: flex; /* Use flexbox for inline layout */
    flex-wrap: wrap; /* Allow items to wrap to the next line */
    gap: 50px; /* Space between items */
}

.pizza-cart {
    width: 200px; /* Width of each pizza card */
    padding: 15px;
   
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: dimgray;
}



.pizza-info {
    margin-top: 10px;
}

.pizza-info h3 {
    margin-bottom: 5px;
    font-size: 1.2em;
}

.pizza-info p {
    margin-bottom: 3px;
    font-size: 0.9em;
    color: yellow;
}

